@model IEnumerable<CodeTalk.Domain.Models.Talk>

@{
    ViewBag.Title = "Index";
}

@section featured{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Code Talks</h1>
            </hgroup>

            <ul>
                @foreach (CodeTalk.Domain.Models.Talk talk in Model)
                { 
                    <li>
                        @* 4c @talk.Title*@
                        
                        <h2>@Html.ActionLink(talk.Title, "Edit", "Talk", new { id = talk.Id }, null)</h2>   @* 4d *@

                         @* 4g *@
                        <ul>
                            @foreach (CodeTalk.Domain.Models.Comment comment in talk.Comments)
                            { 
                                <li>
                                    <p>@comment.Body</p>
                                    <p><i>@comment.Commentor</i></p> @* 4j *@
                                </li>
                            }
                        </ul>
                        
                        <p>@Html.ActionLink("Add Comment", "AddComment", "Home", new { id=talk.Id }, null)</p>  @* 4h *@

                    </li>
                }
            </ul>

            <p>@Html.ActionLink("Submit Talk", "SubmitTalk","Home")</p>    @* 4e *@

        </div>
    </section>
}